{% extends 'shop/base.html' %}

{% block content %}
<header class="order-header">
    <h1><span> 𝖔𝖗𝖉𝖊𝖗𝖘 </span>𝖍𝖎𝖘𝖙𝖔𝖗𝖞</h1>
</header>

<main>
    

    {% if orders %}
        {% for order in orders %}
            <div class="order-card">
                <div class="order-info">
                    <h3>Order #{{ order.id }}</h3>
                    <p class="order-date"><strong>Date of Order:</strong> {{ order.created_at|date:"F j, Y, g:i a" }}</p>
                    <p class="order-status"><strong>Status:</strong> {{ order.status }}</p>
                </div>

                <div class="order-items">
                    {% for item in order.order_items.all %}
                        <div class="order-item">
                            <img src="{{ item.product.images.first.image.url }}" alt="{{ item.product.name }}" class="order-item-image">
                            <div>
                                <p class="product-name"><strong>Product:</strong> {{ item.product.name }}</p>
                                <p class="product-quantity"><strong>Quantity:</strong> {{ item.quantity }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="order-summary">
                    
                    <p><strong>Total Price:</strong> ₹{{ order.total_price }}</p>
                </div>
                
            </div>
        {% endfor %}
    {% else %}
        <p>You have no orders.</p>
    {% endif %}
</main>

{% endblock %}


